server {
  listen 80;

  server_name {{ item }} {{ ansible_default_ipv4.address }};
  
  root {{ DOCUMENT_ROOT }}/{{ item }};
  
  index index.html;
  
  location / { try_files $uri /index.html?$args; }
}